

.slideShow   { 
    width: 100%;
}


.slideShow .image img {
  
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slideShow .image .text {
    font-size: 30px;
     width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0,0,0),0px 2px 2px rgba(0,0,0);
    display:absolute;
}

@media screen and (min-width: 481px){
  .slideShow .image img {
  
    width: 100%;
    height:100%;
  }

  .displayOthers {
        margin-top: 40%;
  }
}

.start    {
  -webkit-animation-duration: 42s;
    animation-duration: 42s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.displayOthers {
        margin-top: 35%;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.waitForThreeSeconds   {
      -webkit-animation-delay: 4s;
      animation-delay: 4s; 
}

.waitForFourSeconds   {
          
      -webkit-animation-delay: 4s;
      animation-delay: 4s;  
}

.waitForSixSeconds {
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
}
.waitForTwelveSeconds {
      -webkit-animation-delay: 12s;
      animation-delay: 12s;
}
.waitForEighteenSeconds {
      -webkit-animation-delay: 18s;
      animation-delay: 18;
}

.waitForTwentyFourSeconds {
      -webkit-animation-delay: 24s;
      animation-delay: 24;
}
.waitForThirtySeconds {
      -webkit-animation-delay: 30s;
      animation-delay: 30s;
}


/* Animation for the slideshow images */



@keyframes slideLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
 
  20% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
 
  20% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.slideLeft {

  -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
}



@keyframes slideRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
 
  20% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}


@-webkit-keyframes slideRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
 
  20% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.slideRight {

  -webkit-animation-name: slideRight;
  animation-name: slideRight;
}

@keyframes slideDown {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}


@-webkit-keyframes slideDown {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.slideDown {

  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

@keyframes slideUp {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}


@-webkit-keyframes slideUp {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

 
.slideUp  {
  -webkit-animation-name: slideUp;
    animation-name: slideUp;
}

@keyframes assorted {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

}


@-webkit-keyframes assorted {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

}

.assorted {
  -webkit-animation-name: assorted;
    animation-name: assorted;
}


@keyframes assortedUpLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes assortedUpLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.assortedUpLeft {
  -webkit-animation-name: assortedUpLeft;
    animation-name: assortedUpLeft;
}

@keyframes assortedUpRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes assortedUpRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.assortedUpRight  {
  -webkit-animation-name: assortedUpRight;
    animation-name: assortedUpRight;
}


@keyframes assortedDownRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}


@-webkit-keyframes assortedDownRight {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.assortedDownRight  {
  -webkit-animation-name: assortedDownRight;
    animation-name: assortedDownRight;
}

@keyframes assortedDownLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes assortedDownLeft {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 
  20% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  40%{

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.assortedDownLeft {
  -webkit-animation-name: assortedDownLeft;
    animation-name: assortedDownLeft;
}


@-webkit-keyframes fadeOut {
  
    0% { opacity: 1;}
    25%{opacity: 1;}
    30%{opacity: 0}
    80%{opacity: 0}
    100% { opacity: 1;}
}

@keyframes fadeOut {
 
    0% { opacity: 1;}
    25%{opacity: 1;}
    30%{opacity: 0}
    80%{opacity: 0}
    100% { opacity: 1;}
  
}

.fadeOut {

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


